Zip_file/
improved_qa_agents/data
improved_qa_agents/__pycache__
improved_qa_agents/*.pyc
.DS_Store
.vscode/
improved_qa_agents/models/
.env
__pycache__/
*.pyc
.ipynb_checkpoints
logs/
*.log
*.sqlite3
*.db
improved_qa_agents/exportto_s3.ipynb
improved_qa_agents/import_from_s3.ipynb
improved_qa_agents/react_public.txt
improved_qa_agents/hw4_handout.pdf
baseline_qa_agents/hw4_handout.pdf
final_results/
old_results/

