Zip_file/
qa_agent/data
qa_agent/__pycache__
qa_agent/*.pyc
.DS_Store
.vscode/
qa_agent/models/
.env
__pycache__/
*.pyc
.ipynb_checkpoints
logs/
*.log
*.sqlite3
*.db
qa_agent/exportto_s3.ipynb
qa_agent/import_from_s3.ipynb
qa_agent/react_public.txt
qa_agent/hw4_handout.pdf
baseline_qa_agent/hw4_handout.pdf

